body, html {
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark background for contrast */
    font-family: Futura Std Condensed Light; /* Adding a clean, modern font */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Centering content vertically and horizontally */
.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100dvh;
    color: #000; /* Light text color for contrast */
    animation: fadeIn 1s ease;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensuring buttons are centered in this container */
    text-decoration: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.button, .backbutton button {
    background-color: #000; /* A more neutral, visually appealing color */
    color: #fff; /* White text color */
    padding: 1em 2em; /* More padding for better button size */
    margin: 1rem 1rem 1rem 1rem; /* Uniform margin for vertical spacing */
    border-radius: 5%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Adding transform to transition for a slight effect */
    text-decoration: none;
}

.button:hover, .backbutton button:hover {
    background-color: red; /* Darker shade on hover */
    transform: translateY(-4px); /* Slight upward move on hover */
}