body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    background-color: black;  /* Fallback in case the video doesn't load */
}

#bgvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.header-section {
    display: flex;
    flex-wrap: wrap; /* Allow the content to wrap if needed */
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.website-name {
    margin-left: 3%;
    font-size: 24px;
    font-weight: bold;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-buttons {
    display: flex;
    align-items: center;  /* Vertically center the buttons and links */
    margin-top: 10px;  /* Space between website name and buttons */
}

.top-buttons button {
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.top-buttons button:hover {
    background-color: rgba(199, 28, 28, 0.8);
}

.social-links {
    display: flex;
    align-items: center;  /* Align the links in the center */
    margin-left: 10px;  /* Space from the buttons */
}

.social-links a {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-links a:hover {
    background-color: #FF0000;
}

/* Hamburger Menu */
.menu-icon .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

@media (max-width: 767px) {
    /* Mobile specific styles: */
    html {
        height: 100%;
        width: 100%;
    }
    .header-section {
        flex-direction: column;  /* Stacking elements vertically */
        text-align: center;
        padding: 15px;
        width: 100%;
    }
    .top-buttons {
        transition: max-height 0.4s ease, opacity 0.3s ease;
        max-height: 0;
        opacity: 0;
        display: none;
        width: 100%;
        flex-direction: column;  /* Stack buttons vertically */
    }
    #menu-toggle {
        display: block;
        cursor: pointer;
    }

    .social-links {
        margin-top: 10px;  /* Space from the buttons */
        flex-direction: column;  /* Stack the links vertically */
    }
}

@media (min-width: 768px) {
    #menu-toggle {
        display: none; /* Hides the hamburger menu on desktop */
    }
}
.active-menu .top-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 1;
}
.active-menu .menu-icon .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.active-menu .menu-icon .bar:nth-child(2) {
    opacity: 0;
}

.active-menu .menu-icon .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}